# Core functionality - changes here should be rare!
/src/app.py                   @Anik-64
/src/backend/database.py      @Anik-64
/src/backend/routers/auth.py  @Anik-64

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Anik-64
